<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <h1>Boletim Matemática!</h1>
    <!-- Criando formulário boletim -->
    <form action="http://localhost:5000/calculo" method="post">
        {% for x in range(4) %}
            <p>
                <input type="number" name="nota{{x}}" id="nota{{x}}" placeholder="Insira a nota {{x+1}}...">
            </p>
        {% endfor %}
        <p>
            <button type="submit">Enviar</button>
        </p>
    </form>
</body>
</html>